<a href="https://calendly.com/jarod-reyes/devmarketing" class="button bg-blue-200 hover:bg-blue-200 py-2 px-4 border border-gray-400 rounded shadow mb-8 block px-6">Book Time with Me</a>
<p></p>
<hr />
<div class="mt-8 max-w-md my-8"> 
  <form>
  <h2 class="text-xl font-bold">Send me a Note</h2>
  <label class="block" for="name">
    <span class="text-gray-700">First name:</span>
    <input type="text" id="firstName" name="firstName" required class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"/>
  </label>

  <label class="block" for="name">
    <span class="text-gray-700">Last Name:</span>
    <input type="text" id="lastName" name="lastName" required class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" />
  </label>
  

  <label class="block" for="email">
    <span class="text-gray-700">Email Address:</span>
    <input type="email" id="email" name="email" required class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"/>

  </label>

  <label class="block" for="email">
    <span class="text-gray-700">Phone Number:</span>
    <input type="phone" id="phone" name="phone" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"/>
  </label>

  <label class="block" for="message">
    <span class="text-gray-700">Message:</span>
    <textarea id="message" name="message" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"></textarea>
  </label>
  <button type="submit" class="bg-white hover:bg-blue-200 py-2 px-4 border border-gray-400 rounded shadow">
  Sign Me Up
  </button>
</form>

</div>

<script type="module" src="/scripts/handleSubmit.js"></script>

<style>
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }

  label {
    margin-top: 10px;
  }

  input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

</style>